<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/updates';
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
            socket.on('my response', function(msg) {
                $('#log').append('<br>Received ' + msg.data);
            });
            socket.on('playlists:updated', function (data) {
                message('playlists:updated', '');
            });

            socket.on('playlist:updated', function (data) {
                message('playlist:updated', 'playlist_id:' + data['playlist_id']);
            });
            socket.on('queues:updated', function (data) {
                message('queues:updated', '');
            });

            socket.on('queue:updated', function (data) {
                message('queue:updated', 'queue_id:' + data['queue_id']);
            });

            function message (from, msg) {
                $('#log').append($('<p>').append($('<b>').text(from), msg));
            }
        });
    </script>
</head>
<body>
    <h1>Flask-SocketIO Test</h1>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
