<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Websocket</title>
        <link rel="stylesheet" href="/static/css/log.css">
    </head>
    <body>

        <div id="main">
            <div id="messages">
                <div id="lines"></div>
            </div>
        </div>

        <script src="/static/js/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
        <script src="/static/js/socketio/socket.io.min.js"></script>
        <script src="/static/js/playlists.js"></script>

    </body>
</html>